<h2>Restauranger</h2>
<div ng-repeat="restaurant in restaurants.model">
    <h3>{{restaurant.name}} ({{restaurant.distance}} m)</h3>
    <address>
        {{restaurant.address1}}<br/>
        {{restaurant.address2}}
    </address>
</div>
<div ng-if="restaurants.closestRestaurant != null">
<h2>Närmaste restaurang</h2>
<h3>{{restaurants.closestRestaurant.name}} ({{restaurants.closestRestaurant.distance}} m)</h3>
<address>
    {{restaurants.closestRestaurant.address1}}<br/>
    {{restaurants.closestRestaurant.address2}}
</address>
</div>